<template>
  <div class="mt-5 d-flex justify-content-center">
    <button
      type="button"
      class="btn btn-info"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      <span class="add__user__text"> Agregar Usuario </span>
    </button>
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="d-flex flex-column">
            <label class="form-label">Nombre</label>
            <input class="mb-4 form-control" type="text" v-model="name" />
            <label class="form-label">Apellido</label>
            <input type="text" class="form-control" v-model="lastName" />
            <label class="mt-4 form-label">Dirección</label>
            <input type="text" class="form-control" v-model="address" />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cerrar
          </button>
          <button
            @click="saveUser(name, lastName, address)"
            type="button"
            class="btn btn-primary"
          >
            Agregar usuario
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      name: "",
      lastName: "",
      address: "",
    };
  },
  methods: {
    async saveUser(name, lastName, address) {
      await axios
        .post("https://heroku-api-eb.herokuapp.com/users/", {
          name: name,
          lastName: lastName,
          address: address,
        })
        .then((resp) => {
          console.log(resp.data);
          location.reload();
        });
    },
  },
};
</script>

<style>
.add__user__text {
    color: white;
    font-weight: 500;
}
</style>
